{{!< default}}

<main class="content" role="main">

    {{! Everything inside the #post tags pulls data from the post }}

    {{#post}}
           
    
        <section class="posts">        
        
            {{content}}
     
        </section>
    
    {{/post}}

</main>